<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- charset is minimum universal requirement and viewport is pretty essential for mobile devices -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/index.css" rel="stylesheet">

    <title>Home Controller</title>
</head>
<body>
<div id="app">
    main app content...
</div>
<footer id="footer">
    simple footer content
</footer>

<script type="text/javascript" src="/static/chunk-vendors.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>